$myColor: blue;
$backgroundColor: beige;

.boardWrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $backgroundColor;
}

.boardDiv {
  border: 1px solid $myColor;
  background-color: $backgroundColor;
}

.topDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
